body{
    background-color:lightpink;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
label{
    font-size:30px;
    font-weight:bold;
    color:blue;
    display:block;
    
}