*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background:#fff7ec;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.left-header{
    display: flex;
    align-items: center;
}
.right-header{
  display:flex;
  align-items:center;
}
.login-btn{
  text-decoration: none;
   background:#e63946;
  color:white ;
  padding:10px 20px;
  border-radius:30px;
  font-weight:bold;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #e63946;
    margin-right: 40px;
}
.header nav a{
    margin-right: 25px;
   
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.header nav a:hover{
    color: #e63946;
}

.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:60px;
  min-height:80vh;
}


.hero-text{
  max-width:45%;
}

.hero-text h1{
  font-size:48px;
  line-height:1.2;
  color:#222;
}

.hero-text h1 span{
  color:#e63946;
}

.hero-text p{
  margin:20px 0;
  font-size:18px;
  color:#555;
}

.btn{
  display:inline-block;
  padding:14px 35px;
  background:#e63946;
  color:white;
  text-decoration:none;
  border-radius:30px;

}

.btn:hover{
  background:#c1121f;
}


.hero-image img{
  width:480px;
}
.dynamic-section{
  padding:40px 60px;
  background:#f8f1e7;
  text-align:center;
  margin-bottom:40px;
  border-radius:20px;

}
.dynamic-section h2{
  font-size:36px;
  margin-bottom:20px;
}

.dynamic-section p{
  font-size:18px;
  margin:10px 0;
  color:#333;
}



.popular-section{
  padding:60px;
  text-align:center;
}
.popular-section h2
{
  font-size:36px;
  margin-bottom:40px;
}
.popular-container{
  display:flex;
  justify-content: center;
 
  gap:40px;
}
.popular-card{
  background:white;
  padding:15px;
  border-radius:20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1)

}
.popular-card img{

  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:15px;
}
.popular-card h3{
  margin-top:15px;
}
.price{
  font-weight:bold;
margin:8px 0;
  color:#333;
}
.cart-btn{
  padding:8px 18px;
  background:#e63946;
  color:white;
  border:none;
  border-radius:20px;
  text-decoration: none;

}
.cart-btn:hover{
  background:#c1121f;
}
.menu-section{
  padding:60px;
  text-align:center;
}

.menu-section h2{
  font-size:38px;
  margin-bottom:40px;
  
}


.menu-container{
    display:grid;
   
   grid-template-columns:repeat(3,1fr);
   gap:30px;
   margin-top:30px;
   justify-items:center;
}
.menu-card{
  background:white;
  width:220px;
  height:280px;
  text-align:center;
  padding:15px;
  border-radius:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  flex-direction:column;
  justify-content: space-between;
}

.menu-card img{
  width:100%;
  height:140px;
  object-fit:cover;
  border-radius:15px;
}

.menu-card h3{
  margin:10px 0;
}

.menu-card .menu-button{
  padding:8px 18px;
  background:#e63946;
  color:white;
  border:none;
  border-radius:20px;
  text-decoration: none;
}

.menu-card .menu-button:hover{
  background:#c1121f;
}
.food-container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(260px, 1fr));
  gap:30px;
}

.food-card{
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 5px 12px rgba(0,0,0,0.1);
  text-align:center;
}

.food-card img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:15px;
}

.food-card h3{
  margin:12px 0;
}

.food-card p{
  font-size:15px;
  margin:4px 0;
}

.food-card label{
  display:block;
  margin-top:10px;
  font-weight:bold;
}

.food-card input{
  width:100%;
  padding:10px;
  margin:8px 0 15px;
  border-radius:10px;
  border:1px solid #ccc;
  text-align:center;
}

.food-card button{
  width:100%;
  padding:10px;
  background:#e63946;
  color:white;
  border:none;
  border-radius:20px;
}

.food-card button:hover{
  background:#c1121f;
}
.about-section{
   padding:60px;
  text-align:center;
}
.about-text{
  max-width:800px;
  margin:20px auto 40px;
  font-size:17px;
  color:#555;
  line-height:1.6;
  margin-bottom:20px;
  
}
.about-item  span{
  color:#e63946;
  font-weight:bold;
}
.about-features{
  margin-top:20px;
  display:flex;
  justify-content: center;
  gap:40px;
}
.about-box{
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  width:260px;
}
.about-box h3{
  margin-bottom:10px;
  color:#e63946;
}
.about-status{

  justify-content: center;
  gap:40px;
  margin-top:40px;
}
.about-status h3{
  color:#e63946;
  font-size:28px;

}
.contact-section{
  padding:60px;
  text-align:center;
}
.contact-cards{
  display:flex;
  justify-content: center;
  gap:30px;
 margin-top:40px;
}
.contact-card{

  max-width:600px;
  margin:0 auto;
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.contact-card h3{
  margin-bottom:15px;
  color:#e63946;
}
.contact-form{
  display:flex;
  flex-direction: column;
  gap:15px;
  margin-top:20px;
  max-width:500px;
  margin:20px auto 0;
}
.contact-form input, .contact-form textarea{
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;
}
.contact-form button{
  padding:12px;
  background:#e63946;
  color:white;
  border:none;
  border-radius:20px;
  font-size:16px;
  cursor:pointer;
 
}
.contact-form button:hover{
  background:#c1121f;
}
.social-links a{
 
  margin:0 10px;
  color:#333;
  font-size:20px;
  text-decoration:none;
}
.social-links a:hover{
  color:#e63946;
}
.footer{
  text-align:center;
  padding:20px;
  background:#e63946;
  color:white;
  margin-top:40px;
}

